/* Font */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Overpass:wght@700&display=swap');
/* Color Theme */
:root {
    --soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}
body {
    font-size: 18px;
    font-family: 'Fraunces', serif;
    font-family: 'Overpass', sans-serif;
    background-color: var(--white);
    color: var(--white);
    margin: 0%;
}

header {
    background-image: url("/images/desktop/image-header.jpg");
    background-size: cover;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2%;
}
header nav {
    float: right;

}
header nav a {
    padding-right: 20px ;
    color: var(--white);
    font-size: 10px;
    text-decoration: none;
}
header p {
    text-align: center;
    font-size: 3rem;
}

