/* Font */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Overpass:wght@700&display=swap");

/* Color Theme */
:root {
    --soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: (0, 100%, 0%);
}

body {
    font-size: 18px;
    font-family: "Overpass", sans-serif;
    /* background-color: var(--white); */
    margin: 0%;
}

header nav a:hover, h1,h2,h3,h4 {
    font-family: "Fraunces", serif;
}

header nav a:hover, h1, h4 {
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
}

h4 {
    padding-top: 30px;
}

p {
    color: var(--dark-grayish-blue);
}

/* ------- Header for Logo and Menu Bar ------- */
header {
    background-image: url("/images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 2%; */
    height: 110vh;
    margin-bottom: 0px;
}

header img,
nav {
    margin: 2%;
}

header nav {
    float: right;
}

header nav a {
    padding-right: 20px;
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
}

header nav a:hover {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    width: 20%;
}

header h1 {
    color: var(--white);
    letter-spacing: 0.5rem;
    font-size: 5rem;
    text-align: center;
    margin: 100px auto;
}

.arrowIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
}

/* ------ main parts ------ */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.picture {
    width: 50%;
}

.description {
    margin: auto;
    width: 25%;
    display: block;
}

.picDescription {
    position: relative;
    width: 50%;
}

.fruitPicture { width: 100%;}

.text-block {
    position: absolute;
    bottom: 30px;
    right: 30%;
    width: 45%;
    color: var(--dark-desaturated-cyan);
    text-align: center;
}
/* .picDescription1 {
    background-image: url(images/desktop/image-graphic-design.jpg);  
}
.picDescription2 {
    background-image: url(images/desktop/image-photography.jpg);
}

.picDescription1, .picDescription2 {
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
} */



